first-color = #835d1a  // brownish
header-background-color = first-color
background-color = #fffacd  // Light yellow
ruler-color = #F6C122 // Orange
header-height = 0  // 10vmin
first-font-family = Arial
second-font-family = Adam
@font-face
  font-family: Adam
  src: url("ADAM.CG.PRO.otf")

a, p, h1, h2, h3, h4, h5, h6, img, hr
  margin-bottom: 0
a
  text-decoration: none
  color: inherit
input, textarea, button, div
  &:focus
    outline: none
    // border: 0.1em beige solid
input, textarea, button, a.button
  border: none
  font-size: inherit
  font-family: first-font-family
  color: inherit
  margin-top: 1em
  padding: 1em
  border-radius: 1em
  placeholder-color(first-color)
button, a.button
  cursor: pointer
  color: white
  background-color: first-color
form
  display: inherit
  flex-flow: inherit
  align-items: inherit
  justify-content: inherit

// Helpers
placeholder-color(n)
  &::-webkit-input-placeholder
    color: n
  &::-moz-placeholder
    color: n
    opacity:  1
  &:-moz-placeholder
    color: n
    opacity:  1
  &:-ms-input-placeholder
    color: n
placeholder-font-weight(n)
  &::-webkit-input-placeholder
    font-weight: n
  &::-moz-placeholder
    font-weight: n
  &:-moz-placeholder
    font-weight: n
  &:-ms-input-placeholder
    font-weight: n
responsive()
  max-width: 100vw
  max-height: 100vh
  margin: 0 auto
divide(a, b)
  a/b
horizontalMargin()
  margin-left: 2em
  margin-right: 2em

html
  background-color: background-color
  font-family: first-font-family
  font-size: 4vmin
  color: first-color
  @media screen and (min-width:769px)
    font-size: 3vmin

body
  display: flex
  flex-flow: column nowrap
  justify-content: space-between
  margin: 0
  @media screen and (min-width:769px)
    margin: 0 5em
  @media screen and (min-width:1025px)
    margin: 0 8em
header
  // z-index: 1
  display: flex
  justify-content: space-around
  align-items: center
  // background-color: header-background-color
  // height: header-height
  // position: fixed
  // width: 100vw
  color: inherit
  a
    padding: 0.5em
    flex: 0 3em
    &:hover
      background-color: first-color
      color: background-color
    &:first-child:hover
      background-color: background-color

  // .black-icon
    // filter: invert(1)
    // height: divide(header-height, 2)
main
  margin-top: header-height
section
  display: flex
  flex-flow: column nowrap
  // align-items: center
  text-align: center
  font-family: second-font-family
  color: first-color
  margin-top: 2em
  &#home
    img
      responsive()
      @media screen and (min-width:769px)
        max-height: 72vh
    margin-top: 1em
  &#products
    hr
      border-width: 0.1em
      width: 50%
      margin-top: 0.5em
    .slider-for
      max-width: 100vmin
      margin-left: auto
      margin-right: auto
    .slider-nav
      .draggable
        cursor: pointer!important
    .slider
      margin-top: 2em
    .details
      horizontalMargin()
      &>div
        margin-top: 2em
      p
        font-family: Arial
      img
        responsive()
        width: 3em
        margin-top: 1em
  &#contact
    horizontalMargin()

.contact-link
  align-self: center
.show-on-target:not(:target) *
  display: none
.show-on-target:target
  display: flex
.hide-on-target:target
  display: none


.slick-initialized
  &.slick-dotted.slick-slider
    margin-bottom: 0
  .draggable
    cursor: move
  .slick-dots
    position: static
    margin-top: 0.5em
    li
      margin: 0 1em
    li button::before
      font-size: 0.5rem

.unstyled
  color: inherit
  background-color: transparent
.hidden
  display: none

hr
  width: 80%
  border: 0.2em solid ruler-color
  margin-top: 2em

footer
  margin-top: 1em
  text-align: center
  color: first-color
  p
    line-height: 1.5em

  i
    margin: 0.5em
